<style>
  body {font-family: "Times New Roman", Georgia, Serif;}
  h1,h2,h3,h4,h5,h6 {
    font-family: "Playfair Display";
    letter-spacing: 5px;
  }
</style>

<div class="w3-row w3-padding-64" id="about">
  <div class="w3-col m6 w3-padding-large w3-hide-small">
    <img src="https://i.pinimg.com/originals/ee/69/25/ee69257739281bf5cd704f9372bc280c.jpg" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
  </div>

  <div class="w3-col m6 w3-padding-large">
    <h1 class="w3-center">Please login with Twitter to use the Vacation Advisor</h1><br>
    <h5 class="w3-center"><a href="http://127.0.0.1:3000/auth/twitter"><button class="btn btn-success pull-right" > Login with Twitter</button></a></h5>
    <p class="w3-large">This service was created to users ease of mind when trying to find their next vacation spot to get away to when Boston’s weather is too troublesome. The Trip Advisor gives you a reasonable price for a One-Way flight to wherever the forecast is best. This service compares the weekly forecast for five of the most famous and luxurious locations around the country including New York City and San Francisco.</p>
  </div>
</div>
